<launch>

    <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" name="serial_node" respawn="true"/>
    <node pkg="pid_node" type="ros_PID_node.py" name="pid_node" respawn="true"/>
    <node pkg="robotics_project" type="odometry_node" name="odometry_node" respawn="true"/>
    <node pkg="twist_to_steering_angle" type="twist_to_steering_angle.py" name="twist_to_steering_angle" respawn="true"/>
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" respawn="true"/>

</launch>